# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons specific plugin folder when downloading from the Asset Library.
/**                               export-ignore
/addons                          !export-ignore
/addons/note_detector    !export-ignore
/addons/note_detector/** !export-ignore